<div id="landing-header">
    <h1><strong>Walkie</strong></h1>
    <h3><strong>Discover your city.</strong></h3>
     <br>
  <br>
  <br>
  <br>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <%= link_to "Historical" , "categories/2" %>
    <%= link_to "Green" , "categories/1" %>
    <%= link_to "Seaside" ,  "categories/3" %>
    <%= link_to "Alternative" , "categories/4" %>
    <%= link_to "Family" , "categories/5" %>
    <%= link_to "Cultural" , "categories/6" %>
  </div>
</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>

  <br>
  <br>
  <br>
  <br>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3><strong>Popular Walks in Lisbon</strong></h3>
<%= render  @walks %>

