  <div class="cards-container card-wrapper padded-top col-sm-6 col-lg-4">
    <div class="card-image filter" style="background-image:url('<%= walk.walk_attachments.first.photo %>')">
        <div class="wishlist-rounded wishlist-rounded-white text-center">

            <!-- Inline SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="3430 1212 18 15.978" class="wishlist-icon wishlist-icon empty">
              <defs>
              </defs>
              <path id="Path_229" data-name="Path 229" class="cls-1" d="M13.237.5a3.777,3.777,0,0,0-2.523.995A6.534,6.534,0,0,0,8.988,3.452,6.485,6.485,0,0,0,7.262,1.488a3.676,3.676,0,0,0-.31-.25A3.753,3.753,0,0,0,4.738.5C2.393.5.443,2.78.489,5.593A5.73,5.73,0,0,0,.653,6.937a5.629,5.629,0,0,0,.382,1.107c1.878,4.269,7.952,7.372,7.952,7.372s6.075-3.1,7.952-7.372a6.093,6.093,0,0,0,.382-1.107,5.773,5.773,0,0,0,.165-1.344C17.54,2.78,15.589.5,13.237.5Z" transform="translate(3430.012 1212)"></path>
            </svg>
        </div>
      </div>

    <!-- Card Bottom Row -->
      <div class="card-details">
      <div class="card-row">
        <span class="card-walk"> <%= walk.name %> |</span>
        <span class="card-name" style="color: #000;"><%= walk.category.name %></span>
      </div>
      <div class="card-row">
        <span class="card-location" style="color: #000;"><%= walk.location %> |</span>&nbsp;
        <span class="card-location" style="color: #000;"><%= walk.minmethod(walk.duration)%></span>

      </div>
    </div>

    <!-- Card Rating and Review -->
    <%= link_to walk_path(walk), anchor: "#reviews" do %>
    <%= link_to walk_path(walk), anchor: "#likes" do %>
      <div class="card-row">

    <div class="card-rating-reviews">
        <span class="card-reviews-count"><%= walk.reviews.length %>&nbsp;Reviews&nbsp;&nbsp;&nbsp;</span>
        <span id="count"><%= walk.likes.length %>&nbsp;Likes</span>
    </div>
    <% end %>
    <% end %>
</div>
    <!-- Card Link -->
    <%= link_to walk, class: "card-link" do %>
    <% end %>

  </div>


