<%= render 'shared/jumbotron' %>
  <div class="buttons">
  <span class="btn btn-default btn-circle fas fa-camera go-rounded-white text-center" style="font-size:24px;line-height: 2.1; align-content: center; padding-top: 8px;"></span>
  <span class="btn btn-default btn-circle fa fa-share-alt go-rounded-white text-center" style="font-size:24px; cursor:pointer;" onclick=""></span>
  <span class="btn btn-default btn-circle go-rounded-white text-center" style="cursor:pointer; padding-bottom: 10px; padding-top: 8px;" onclick="">GO</span>
  </div>
<div class="container">

  <div class="row">
    <div class="col-xs-12">

      <div class="d-inline categories">
       <h3><%= @walk.category.name%></h3>
       <h3>
        <h2><strong> <%=@walk.name %></strong></h2>
      </h3>
      <%= @walk.category%> @walk.duration %>
      <i class="far fa-clock"></i>&nbsp&nbsp&nbsp<h5> <%= @walk.location%></h5>
      <hr>
      <p>
        <h4><%= @walk.description %></h4>
        <br>
      </p>

    </div>

    <div class="fullwidth">
     <div class="timeline group">
       <% @walk.points.each do |point| %>
       <div class="item">
         <h4><%= point.order %>.</h4>
         <h4><%= point.name %>.</h4>
         <h4><%= point.description %>.</h4>
       </div>
       <% end %>
     </div>
   </div>

    <div>
      <div>
        <h3>Reviews</h3>

        <% @reviews.each  do |review| %>
        <div class="message">
          <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/joemonteiro">
          <div class="message-body">
            "<%= review.content %>"
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div id='map' style='width: 400px; height: 300px;'></div>
  <script>
    var points = <%= raw @walk.points.to_json %>;

    mapboxgl.accessToken = 'pk.eyJ1IjoiZnJhbmNpc2NvYmFycmV0byIsImEiOiJjamVoMWRjMjMwbWh6MnFuczF6dGd6bmFoIn0.S5h45dvXuYQ3xoN-d504KA'; // replace this with your access token
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10', // replace this with your style
      center: [points[0].longitude, points[0].latitude],
      zoom: 13
    });


    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());

    var coordinates = [];
    points.forEach((point) => {
      coordinates.push([point.longitude, point.latitude]);
    });

    map.on('load', function () {



        map.addLayer({
            "id": "route",
            "type": "line",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "LineString",
                        "coordinates": coordinates
                        // [
                        //   [-9.109299, 38.740388],
                        //   [-9.108027, 38.741509]
                        //     // for each points print [longitude,latitude]
                        //     // points.forEach((point) => {
                        //     //   var coordinates = [point.longitude, point.latitude]
                        //     //   console.log(coordinates)
                        //     // });
                        //     // for (var point in points) {
                        //     //   [point.longitude, point.latitude]
                        //     // }
                        // ]
                    }
                }
            },
            "layout": {
                "line-join": "round",
                "line-cap": "round"
            },
            "paint": {
                "line-color": "#D17BC9",
                "line-width": 8
            }
        });
    });

    // code from the next step will go here
    // map.on('click', function(e) {
    //   var features = map.queryRenderedFeatures(e.point, {
    //     layers: ['{layer_name}'] // replace this with the name of the layer
    //   });
    //   if (!features.length) {
    //     return;
    //   }
    //   var feature = features[0];
    //   var popup = new mapboxgl.Popup({ offset: [0, -15] })
    //   .setLngLat(feature.geometry.coordinates)
    //   .setHTML('<h3>' + feature.properties.title + '</h3><p>' + feature.properties.description + '</p>')
    //   .setLngLat(feature.geometry.coordinates)
    //   .addTo(map);
    // });
  </script>
  </div>


