<%= render 'shared/carousel' %>

  <div class="buttons">
  <span class="normal-button btn btn-default btn-circle far fa-heart go-rounded-white text-center"></span>
  <span class="normal-button btn btn-default btn-circle fas fa-share-alt go-rounded-white text-center" onclick=""></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <span class="go-button btn btn-default btn-circle go-rounded-white text-center" onclick="">GO</span>
  </div>
<div class="container">


  <div class="row">
    <div class="col-xs-12">
<br>
<br>
      <div class="d-inline categories">
       <h4><%= @walk.category.name%></h4>

        <h2><strong> <%=@walk.name %></strong></h2>
        <br>

    <h6>&nbsp&nbsp<%= @walk.duration %>&nbsp&nbsp&nbsp<i class="far fa-clock"></i>&nbsp&nbsp&nbsp<%= @walk.location%></h6>
        <hr>
      <p>
        <h4><%= @walk.description %></h4>
        <br>
      </p>

    </div>

    <div class="fullwidth">
     <div class="timeline group">
       <% @walk.points.each do |point| %>
       <div class="item">
         <h4><%= point.order %>.</h4>
         <h4><%= point.name %>.</h4>
         <h4><%= point.description %>.</h4>
       </div>
       <% end %>
     </div>
   </div>

    <div>
      <div>
        <h3>Reviews</h3>

        <% @reviews.each  do |review| %>
        <div class="message">
          <%= image_tag review.user.photo, class: "avatar-large" %>
          <div class="message-body">
            "<%= review.content %>"
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div id='map' style='width: 400px; height: 300px;'></div>
  <script>
    var points = <%= raw @walk.points.to_json %>;

    mapboxgl.accessToken = 'pk.eyJ1IjoiZnJhbmNpc2NvYmFycmV0byIsImEiOiJjamVoMWRjMjMwbWh6MnFuczF6dGd6bmFoIn0.S5h45dvXuYQ3xoN-d504KA'; // replace this with your access token
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10', // replace this with your style
      center: [points[0].longitude, points[0].latitude],
      zoom: 13
    });


    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());

    var coordinates = [];
    var features = [];
    points.forEach((point) => {
      coordinates.push([point.longitude, point.latitude]);

      var feature = {
                      "type": "Feature",
                      "properties": {
                          "description": point.description,
                          "icon": "bicycle"
                      },
                      "geometry": {
                          "type": "Point",
                          "coordinates": [point.longitude, point.latitude]
                      }
                  }

      features.push(feature);

    });

    map.on('load', function () {



        map.addLayer({
            "id": "route",
            "type": "line",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "LineString",
                        "coordinates": coordinates
                    }
                }
            },
            "layout": {
                "line-join": "round",
                "line-cap": "round"
            },
            "paint": {
                "line-color": "#D17BC9",
                "line-width": 5
            }
        });


        map.addLayer({
          "id": "places",
          "type": "symbol",
          "source": {
              "type": "geojson",
              "data": {
                  "type": "FeatureCollection",
                  "features": features


              }
          },
                "layout": {
                  "icon-image": "{icon}-15",
                  "icon-allow-overlap": true
                }
      });
    });

    map.on('click', 'places', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;


        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
    });

     // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function () {
        map.getCanvas().style.cursor = '';
    });

  </script>
  </div>


