<%= render 'shared/jumbotron' %>
  <div class="buttons">
  <i class="btn btn-default btn-circle fas fa-camera go-rounded-white text-center" style="font-size:24px;"></i>
  <span class="btn btn-default btn-circle fa fa-share-alt go-rounded-white text-center" style="font-size:24px; cursor:pointer;" onclick=""></span>
  <span class="btn btn-default btn-circle go-rounded-white text-center" style="font-size:16px; cursor:pointer;" onclick="">GO</span>
  </div>
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="d-inline categories">
       <h3><%= @walk.category.name%></h3>
       <h3>
        <h2><strong> <%=@walk.name %></strong></h2>
      </h3>
      <%= @walk.category%> @walk.duration %>
      <i class="far fa-clock"></i>&nbsp&nbsp&nbsp<h5> <%= @walk.location%></h5>
      <hr>
      <p>
        <h4><%= @walk.description %></h4>
        <br>
      </p>
    </div>

    <div class="fullwidth">
      <div class="timeline group">
        <% @walk.points.each do |point| %>
        <div class="item">
          <h4><%= point.order %>.</h4>
          <h4><%= point.name %>.</h4>
          <h4><%= point.description %>.</h4>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h3>Reviews</h3>

      <% @reviews.each  do |review| %>
      <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/joemonteiro">
        <div class="message-body">
          "<%= review.content %>"
        </div>
      </div>
      <% end %>
    </div>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZnJhbmNpc2NvYmFycmV0byIsImEiOiJjamVoMWRjMjMwbWh6MnFuczF6dGd6bmFoIn0.S5h45dvXuYQ3xoN-d504KA';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10'
      });
    </script>
  </div>
</div>


